@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color: white;

	--primary-bg: #0c0f11;
	--logo-size: 100;
}

.gradient-text {
	background: linear-gradient(
		to right,
		#ffffff,
		#f98110,
		#ce1b1b,
		#f98110,
		#ffffff,
		#f98110,
		#ce1b1b
	);
	background-size: 300% 300%;
	background-clip: text;
}
